.logo img{ 
  width: 70px;
  height: 40px;
  position: absolute;
  top: 0;
  left: 0; 
	
} 
  #navbar a {
    float: right;
    float:.img-responsive;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px;
    text-decoration: none;
  }
  #navbar{
    overflow: auto;
    background-color: #647e777a;
    opacity: 1.0;
  }
  
  .sticky{
    position:fixed;
    top: 0;
    width: 100%;
  }
.sticky + .content {
  padding-top: 60px;
}